/* Container */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    color: #498479;
  }
  
  ul.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .flex-container img {
    border-radius: 10%;
    width: 70px;
    height: 70px;
  }

  .container-connect {
    position: relative;
  }

         /* Spalvų taisyklės */
         .main-nav a {
          color: rgb(114, 56, 56); /* Numatytasis teksto spalvos stilius */
      }

      .main-nav a:hover {
          color: red; /* Teksto spalva, kai pele užvedama ant nuorodos */
      }

      .main-nav .active {
          color: blue; /* Teksto spalva aktyviam skirtukui */
      }