.mobile-nav {
    display: none;
  }
  
  
   /* Kitimas ekranų dydžiui < 768px (planšetė) */
  @media screen and (max-width: 768px) {
      /* Slėpti meniu punktus */
      .main-nav .menu-item {
        display: none;
      }
  
      /* Rodyti tik logotipą ir menu-toggle */
      .main-nav .menu-toggle {
        display: block;
      }
  
          /* Mobile-nav stiliai */
          .mobile-nav {
        position: relative;
        text-align: center;
      }
      .mobile-nav .flex-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #555555;
        list-style: none;
        padding: 20px;
        text-align: center;
        display: none;
        z-index: 2;
      }
  
      .mobile-nav .flex-container li {
        margin-bottom: 15px;
      }
  
      .mobile-nav .flex-container a {
        color: white;
        text-decoration: none;
        font-size: 18px;
      }
  
      .mobile-nav .menu-toggle {
        position: relative;
        z-index: 3;
      }
  
      .mobile-nav .mobile-nav-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: none;
      }
  
  
  
      .hero-content h2{
        font-size: 18px; 
      }
  
  
      #contact-form {
      text-align: center;
      color: #98479;  
    }
  }
   /* Kitimas ekranų dydžiui >= 1024px (didžiulis ekranas) */
   @media screen and (min-width: 768px) {
      /* Slėpti burgerio ikoną */
      .main-nav .menu-toggle {
        display: none;
      }
    }
    