*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: #498479;
}

html {
  font-family: 'Lora', serif;
  font-size: 16px;
  background-color: #f2f2f2;
}

body {
  background-color: #f2f2f2;
  font-family: 'Lora', serif;
  font-size: 16px;

  margin: 0;
}






/* Tekstas h1 */
h1 {
  padding: 10px;
  color: #333;
  font-size: 28px;
  font-weight: 600;
}

/* Tekstas h2 */
h2 {
  text-align: center;
  color: #498479;
}

.column {
  flex: 1;
  margin-right: 5px;
}



.hero-content {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  text-align: center;
  width: 70%;
  max-width: 1000px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

 







/* Container */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
  color: #498479;
}

ul.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container img {
  border-radius: 10%;
  width: 70px;
  height: 70px;
}

.container-connect {
  position: relative;
}

       /* Spalvų taisyklės */
       .main-nav a {
        color: rgb(114, 56, 56); /* Numatytasis teksto spalvos stilius */
    }

    .main-nav a:hover {
        color: red; /* Teksto spalva, kai pele užvedama ant nuorodos */
    }

    .main-nav .active {
        color: blue; /* Teksto spalva aktyviam skirtukui */
    }




