*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: #498479;
}

html {
  font-family: 'Lora', serif;
  font-size: 16px;
  background-color: #f2f2f2;
}

body {
  background-color: #f2f2f2;
  font-family: 'Lora', serif;
  font-size: 16px;

  margin: 0;
}


/* Tekstas h1 */
h1 {
  padding: 10px;
  color: #333;
  font-size: 28px;
  font-weight: 600;
}

h2 {
  border: 2px solid #498479; /* Spalva ir stilius apvado linijoms */
  padding: 10px; /* Atstumas tarp teksto ir apvado linijų */
  border-radius: 10px; /* Skritulinio apvado išlenkimas */
  background-color: #f0f0f0; /* Fono spalva */
  text-align: center; /* Teksto centrinis lygiavimas */
}

h4 {
  border-bottom: 1px solid #498479; /* Apvado linija po h4 teksto */
  padding-bottom: 10px; /* Atstumas tarp teksto ir apvado linijos */
  margin-bottom: 20px; /* Atstumas tarp h4 elemento ir kito turinio */
}


.column {
  flex: 1;
  margin-right: 5px;
}

/*-------------------------------------------------------------------------------------------------------------- */
/* Container */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
  color: #498479;
}

ul.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container img {
  border-radius: 10%;
  width: 70px;
  height: 70px;
}

.container-connect {
  position: relative;
}


/*-------------------------------------------------------------------------------------------------------------- */
/* Spalvų taisyklės */
.main-nav a {
color: rgb(114, 56, 56); /* Numatytasis teksto spalvos stilius */}

.main-nav a:hover {
color: red; /* Teksto spalva, kai pele užvedama ant nuorodos */}

.main-nav .active {color: blue; /* Teksto spalva aktyviam skirtukui */}
/*-------------------------------------------------------------------------------------------------------------- */
/* Spalvų taisyklė skirtuke */
.main-nav a:hover {color: #FF8C00;/* Teksto spalva, kai pele užvedama ant nuorodos */}

/*-------------------------------------------------------------------------------------------------------------- */
/* Header */
header {
  display: block;
  justify-content: center;
  background-color: #554172;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.site-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #554172;
  width: 100%;
  display: block;
}

.site-header li {
  float: left;
  padding: 0px;
}

.site-header li a {
  display: block;
  padding: 10px 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}


/*-------------------------------------------------------------------------------------------------------------- */
/* Footer */
.footer {
  background-color: #554172;
  color: white;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid gray;
}



/*-------------------------------------------------------------------------------------------------------------- */   
/*Skirtingiems ekrano dydžiams */

.mobile-nav {
  display: none;
}














.cart-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-icon svg {
  width: 30px;
  height: 30px;
  fill: #333;
}

.cart-icon .notification {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}

.cart-container {
  display: none;
  position: fixed;
  top: 70px;
  right: 20px;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 9999;
}

.cart-container h3 {
  margin-top: 0;
}

.cart-container ul {
  list-style-type: none;
  padding: 0;
}

.cart-container ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-container ul li span,
.cart-container ul li button {
  background-color: #ccc;
  border: none;
  color: #333;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 5px;
}

.cart-container ul li span:hover,
.cart-container ul li button:hover {
  background-color: #999;
  color: #fff;
}

.cart-container .total {
  margin-top: 10px;
  font-weight: bold;
}

.cart-container button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.cart-container button:hover {
  background-color: #666;
}

.cart-container button.back {
  background-color: transparent;
  color: #333;
  border: none;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: underline;
}

.buy button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 5px;
}

.buy button:hover {
  background-color: #666;
}



