.container {
    display:grid;
    grid-template: repeat(3, 50px)/repeat(4, 1fr);
    grid-gap:5px;
    background-color: #ffeead;
}

.red{
    display:grid;
    background-color: red;
    grid-column: 1 / span 2; 
}

.blue{
    display:grid;
    background-color: blue;
    grid-column: 3/ span 4;
}

.green{
    display:grid;
    background-color: green;
    grid-column: 1/ span 1;
}

.purple{
    display:grid;
    background-color: purple;
    grid-column: 2/ span 5;
}

.yellow{
    display:grid;
    background-color: yellow;
    grid-column: 1/ span 6;
}