.container {
    display:grid;
    grid-template: repeat(3, 50px)/repeat(4, 1fr);
    grid-template-rows: 150px 150px 150px;
    grid-gap:10px;
    background-color: #ffeead;
    padding: 10px;
    grid-template-areas:
    "h h h h"
    "s1 c c s2"
    "f f f f";
    color: white;
}

.Header{
    background-color: grey;
    grid-area: h;
}

.Sidebar{
    background-color: rgb(70, 69, 69);
    grid-area: s1;
}

.Content{
    background-color: rgb(55, 56, 55);
    grid-area: c;
}

.Sidebar2{
    background-color: rgb(179, 175, 179);
    grid-area: s2;
    color: black;
}

.Footer{
    background-color: grey;
    grid-area: f;
}

@media screen and (min-width:650px) {
    
}
