.container {
    display:grid;
    grid-template: repeat(3, 50px)/repeat(4, 1fr);
    grid-template-rows: 200px 200px 200px;
    grid-gap:10px;
    background-color: #ffeead;
    padding: 10px;
    grid-template-areas:
    "r r r r"
    "b b g g"
    "b b p1 p2";
}

.red{
    background-color: red;
    grid-area: r;
}

.blue{
    background-color: blue;
    grid-area: b;
}

.green{
    background-color: green;
    grid-area: g;
}

.purple1{
    background-color: purple;
    grid-area: p1;
}

.purple2{
    background-color: purple;
    grid-area: p2;
}