.container {
    display:grid;
    grid-template: repeat(3, 50px)/repeat(4, 1fr);
    grid-gap:5px;
    background-color: #ffeead;
    grid-template-areas:
    "r r b b"
    "g p p p"
    "ye ye ye ye";
}
.red {
     grid-area: r;
     display:grid;
     background-color: red;
}

.blue {
    grid-area: b;
    background-color: blue;
}


.green {
    grid-area: g;
    background-color: green;
}

.purple {
    grid-area: p;
    background-color: purple;
}

.yellow {
    grid-area: ye;
    background-color: yellow;
}
