*,
*::before,
*::after {
    box-sizing: border-box;
}

html,body {
    font-family:'Roboto';
    font-size:20px;
}

.site-header {
    background-color:#177CC2;
    width:100%;
    display:block;
    color:white;
}

.container h1{
    margin:20px;
    font-weight: normal;
}

.photos {
    display:flex;
    flex-wrap: wrap;
    grid-template: repeat(2, 70px)/repeat(3, 1fr);
    background-color:white;
    grid-template-areas:
    "A B L"
    "M P R";
    color: white;
    justify-content: space-around;
}

.city1{grid-area: A;}
.city2{grid-area: B;}
.city3{grid-area: L;}
.city4{grid-area: M;}
.city5{grid-area: P;}
.city6{grid-area: R;}

