*,
*::before,
*::after {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Titillium Web', sans-serif;
    font-size:16px;
}
/*ddedea
e8dff5

#cdb4ef - headeris (violetinis)
#c19ff0 - headerio hooveris (violetinis)
#c0ede5 - tekstas puslapyje (žalias)
*/

body {
    margin:0;
}

.site-header {
    background-color:#cdb4ef;
    position:fixed;
    width:100%;
    display:block;
}

.container {
    max-width:1140px;
    margin:0 auto;
    padding:0 20px;
}

.flex-container {
    display:flex;
}

.site-header .container {
    justify-content: space-between;
    align-items:center;
}

.main-nav li {
    list-style:none;
}

.main-nav a {
    color:#fff;
    font-size:0.7rem;
    text-transform:uppercase;
    text-decoration:none;
    padding:10px 17px;
    margin:0 5px;
}

.main-nav a:hover, .main-nav a:active {
    background-color:#c19ff0;
    border-radius:5px;
}

.mobile-nav {
    display:none;
}

.logo {
    padding:55px 0;
}

/**/

body {
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
    font-size: 1em;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  
  .flex-left {
    width: 60%;
    margin: 5px;
    padding: 5px;
    border: 3px solid red;
    display: grid;
    place-items: center;
  }
  
  .flex-right {
    width: 40%;
    margin: 5px;
    padding: 5px;
    border: 3px solid green;
    display: grid;
    place-items: center;
  }
  /* CONTACT */
.flex-left {
    background-color:#cdb4ef;
    color:#fff;
    text-align: center;}

.flex-left .contact-form .input-row{
    padding: 30px 45px;
    border-radius:5px;
    border:none;
    background-color:#c19ff0;}

.flex-left .contact-form textarea {
    border:none;
    border-radius:5px;
    width:100%;
    padding:25px;
    color:#fff;
    background-color: #42256a;}
