*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #c0ede5;
}

html {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
}
/*Header*/
header {
  display: flex;
  justify-content: center;
  background-color: #cdb4ef;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
}

.site-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #cdb4ef;
  width: 100%;
  display: block;
}

.site-header li {
  float: left;
  padding:0px;
}

.site-header li a {
  display: block;
  padding: 30px 30px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.site-header li a:hover {
  background-color: #c0ede5;
}

/*Container*/
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  color: #c0ede5;
}

ul.flex-container {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.flex-container img{
  border-radius: 50%;
  width:70px; 
  height:70px;
}


/*Container-connect*/
.container-connect {
  max-width: 1000px;
  margin: 0px auto;
  padding: 10px;
  color: #c0ede5;
}

h1 {
  padding: 20px;
}

h2 {
  text-align: center;
}

.row {
  display: flex;
}

.column {
  flex: 1;
  margin-right: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input, textarea {
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
}

button[type="submit"] {
  padding: 20px;
  background-color: #c0ede5;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: white;
  color: #c0ede5;
}

#map {
  height:450px;
  width:100%;
}



.slideshow-container img{
  border-radius: 30%;

}




/*Navigation*/
.main-nav li {
  list-style: none;
}

.main-nav a {
  color: #fff;
  font-size: 0.7rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 17px;
  margin: 0 5px;
}

.main-nav a:hover,
.main-nav a:active {
  background-color: #c19ff0;
  border-radius: 5px;
}

.mobile-nav {
  display: none;
}


/* HERO */
.hero {
  background-color: #c0ede5;
  text-align: center;
  padding-top: 100px;
}

section > .container {
  padding: 120px 0;
}

.hero h1 {
  color: white;
  font-size: 1.5rem;
  line-height: 1.1428;
  max-width: 843px;
  margin: 0 auto;
}

.hero h2 {
  color: white;
  font-size: 1.625rem;
  line-height: 1.1428;
  max-width: 1000px;
  margin: 0 auto;
}

img {
  vertical-align: middle;
  width: 500px;
  height: 500px;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/* FOOTER */

.footer {
  background-color: #cdb4ef;
  padding: 5px 0;
  text-align: center;
  color: #fff;
  justify-content: center;
  display: block;
  position:fixed; 
  bottom: 0; 
  width:100%;
}

.container .footer-copyright .flex-container{
    color:white;
    display:block;
    text-decoration: none;
    font-size:1rem;
    font-weight:600;}



